{% extends 'base.html' %}

{% block main %}
<div class="container" style="margin-top:76px">
    <div class="col-md-3">
        {% include 'msg_list.html' %}
    </div>
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="{{url_for('auth.self_center')}}" method="POST">
                    <fieldset>
                            <div class="form-group">
                                <label for="input_name"><span class="glyphicon glyphicon-user"></span>&nbsp;昵称</label>
                                <input id="input_name" class="form-control" placeholder="昵称" name="username" type="text" autofocus value="{{user.username}}">
                            </div>
                            <div class="col-md-12" id="error_name"></div>
                            <div class="form-group">
                                <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;邮箱</label>
                                <input id="input_email" class="form-control" placeholder="邮箱" name="email" type="email" autofocus value="{{ user.email }}">
                            </div>
                            <div class="col-md-12" id="error_email"></div>

                        <input class="btn btn-success" type="submit" value="保存修改">
                        </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}